In [1]:
# Tables Mod n
# https://crypto.katestange.net/multiplication-tables-modulo-n/

n = 5
R = IntegerModRing(n)
rows = [['*']+[str(r) for r in R]]+[[i]+[i+r for r in R] for i in R]
table(rows)

  *   0   1   2   3   4
  0   0   1   2   3   4
  1   1   2   3   4   0
  2   2   3   4   0   1
  3   3   4   0   1   2
  4   4   0   1   2   3